{% load static %}
<footer class="footer navbar-fixed-bottom p-4 mt-3" style="font-size: 1.2rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="{% static 'main/images/logo.png' %}" class="img-fluid img-thumbnail" alt="">
                <h4 class="mt-3">سامانه هوشمند حمل و نقل و باربری</h4>
            </div>
            <div class="col-md-3 text-center">
                <h5>یولچی</h5>
                <ul class="list-unstyled mt-3">
                  <li><a href="{%url 'yuk:profile' %}" class="link-dark">یوک (ویژه رانندگان)</a></li>
                  <li><a href="{%url 'yol:profile' %}" class="link-dark">یول (ویژه صاحبان بار)</a></li>
              </ul>
            </div>
            <div class="col-md-3">
                <h5>با ما در ارتباط باشید</h5>
                <ul class="list-unstyled mt-3">
                    <li>amirrezanoruziii@gmail.com</li>
                    <li>+1233567890</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="text-center">ما را دنبال کنید</h5>
                <ul class="list-inline footer-links mt-3">
                    <li class="list-inline-item">
                      <a href="#">
                             <img class="icon" src="{% static 'main/images/twitter.png' %}">
                      </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://t.me/Amiiiiza">
                               <img class="icon" src="{% static 'main/images/telegram.png' %}">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <img class="icon" src="{% static 'main/images/instagram.png' %}">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/Amizaa">
                            <img class="icon" src="{% static 'main/images/github.png' %}">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <hr>
        <div class="row flex justify-content-center">
            <div class="col-md-6">
                <p>یولچی 1403&copy; ساخته شده توسط امیررضا نوروزی</p>
            </div>
        </div>
    </div>
</footer>