{% load static %}
<header class="bg-light sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light " style="font-size: 1rem;">
      <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'main:home' %}">
          <img  src="{% static 'main/images/logo.png' %}" height="30" alt="yol">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="d-lg-flex justify-content-around collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto d-flex align-items-center">
            {% if auth %}
            <li class="nav-item dropdown">
              <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{image_url}}" class="rounded-circle bg-main" height="40" width="50">
             </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% if app == 'YOL' %} {% url 'yol:profile' %} {% else %} {% url 'yuk:profile' %} {% endif %}">پروفایل</a></li>
                <li><a class="dropdown-item" href="{% url 'main:signout' %}">خروج از حساب کاربری</a></li>
              </ul>
            </li>
            {% endif %}
            <li class="nav-item">
              <a  class="nav-link mx-2" aria-current="page" id="home" href="{%url 'main:home' %}">خانه</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 برنامه ها
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{%url 'yol:profile' %}">یول (ویژه رانندگان)</a></li>
                <li><a class="dropdown-item" href="{%url 'yuk:profile' %}">یوک (ویژه صاحبان بار)</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2"  href="{%url 'main:ads' %}">آگهی های اعلام بار</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2"  href="{%url 'main:about' %}">درباره ما</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="{%url 'main:contact' %}">تماس با ما</a>
            </li>
          </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-2 my-1">
            <a class="nav-link btn btn-outline-main px-3" href="{%url 'main:signin' %}" >ورود</a>
          </li>
          <li class="nav-item mx-2 my-1">
            <a class="nav-link btn btn-outline-info px-3" href="{%url 'main:signup' %}" >ثبت نام</a>
          </li>
        </ul>


        </div>
      </div>
    </nav>
</header>