{% extends "base-yol.html" %}

{% load static%}

{% block title %}
    پروفایل 
{% endblock %}

{% block content %}
    {% load bootstrap5 %}
    <h5 class="text-end border-bottom py-2 mb-4">پروفایل</h5>
    
    <div class="container">
        <div class="d-flex justify-content-center  mb-4">
            <img src="{{image_url}}" alt="Profile picture" class="rounded-circle border" width="200" height="200">
        </div>

        <form class="my-4" enctype="multipart/form-data" method="post"><input type='hidden'/>
          {% bootstrap_form form %}
          {% csrf_token %}
          
            <fieldset disabled>
                <div class="mb-3">
                <label for="username" class="form-label">نام کاربری</label>
                <input type="text" class="form-control" id="username" value="{{username}}">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="firstname" class="form-label">نام</label>
                      <input type="text" class="form-control" id="firstname" value="{{firstname}}" >
                    </div>

                    <div class="mb-3 col-md-6">
                      <label for="lastname" class="form-label">نام خانوادگی</label>
                      <input type="text" class="form-control" id="lastname" value="{{lastname}}">
                    </div>
                  </div>

                </fieldset>
                
              <div class="mb-3">
                <label for="license" class="form-label">شماره گواهینامه</label>
                <input type="text" class="form-control" name="license" id="license" value="{{license}}">
              </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label"> پست الکترونیکی</label>
                  <input type="email" class="form-control" name="email" id="email" value="{{email}}">
                </div>
    
                <div class="mb-3 col-md-6">
                  <label for="phone" class="form-label">تلفن همراه</label>
                  <input type="text" class="form-control" name="phone" id="phone" value="{{phone}}">
                </div>
            </div>
            
            <div class="d-grid">
              <button type="submit" class="btn btn-info" name="info">ذخیره تغییرات</button>
            </div>
          </form>

          <form class="my-4" action="" method="post"><input type='hidden'/>
            {% csrf_token %}
              <div class="row">
                  <div class="mb-3 col-md-6">
                    <label for="password" class="form-label">تغییر رمز عبور</label>
                    <input type="password" class="form-control" name="password1" id="password">
                  </div>
                  
                  <div class="mb-3 col-md-6">
                    <label for="password" class="form-label">تأیید رمز عبور</label>
                    <input type="password" class="form-control" name="password2" id="password">
                  </div>
              </div>
              
              <div class="d-grid">
                <button type="submit" class="btn btn-main" name="pass">تغییر رمز عبور</button>
              </div>
            </form>
      
    </div>

    <div class="container text-center">
        <p>آخرین بازدید: <span>{{ last_visit|date:"SHORT_DATETIME_FORMAT" }}</span></p>
    </div>


{% endblock %}