<!DOCTYPE html>
<html lang="en">
<head>
  {% load static%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'yol/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'yol/style/css/style.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'yol/images/favicon.png' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>آگهی های اعلام بار</title>
</head>

<body>
  <style>
    .nav-item a:hover{
      text-decoration: none;
    }
    .img-thumbnail{
      border: none;
    }
  </style>

  <nav class="navbar navbar-expand navbar-light shadow-sm px-4 d-flex justify-content-center">
    <div>
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2" href="/">صفحه اصلی</a>
        </li>
        {% if auth %}
          <li class="nav-item">
            <a class="nav-link mx-2" href="{% if app == 'YOL' %} {% url 'yol:profile' %} {% else %} {% url 'yuk:profile' %} {% endif %}">پروفایل</a>
          </li>
        {% endif %}
      </ul>
    </div>
    <br>

  </nav>
  
  <div class="fix-sidebar bg-white">
    
    <form action="" method="post"><input type='hidden'/>
      {% csrf_token %}
      <input class="form-control" type="search" name="search" placeholder="جست و جو در آگهی ها">
      
      <ul class="navbar-nav" style="float: right;">
        <h5 class="text-center text-muted">فیلتر جست و جو</h5>
        <li class="nav-item">
          <a class="nav-link text-muted" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
            &#x25BC; شهر مبدا 
          </a>
          <div class="collapse" id="collapse1">
            <div class="card card-body">
              <input type="text" class="form-control" id="origin" name="origin" placeholder="تعیین شهر مبدا">
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
            &#x25BC; شهر مقصد 
          </a>
          <div class="collapse" id="collapse2">
            <div class="card card-body">
              <input type="text" class="form-control" id="destination" name="destination" placeholder="تعیین شهر مقصد">
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">
            &#x25BC; وزن بار  
          </a>
          <div class="collapse" id="collapse3">
            <div class="card card-body">
              <label for="min-weight" class="form-label">حداقل</label>
              <input type="number" class="form-control" id="min-weight" name="min-weight" placeholder="مثال: 1000 کیلوگرم">
              <label for="max-weight" class="form-label">حداکثر</label>
              <input type="number" class="form-control" id="max-weight" name="max-weight" placeholder="مثال: 2000 کیلوگرم">
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapseExample">
            &#x25BC;  کرایه حمل 
          </a>
          <div class="collapse" id="collapse4">
            <div class="card card-body">
              <label for="min-freight" class="form-label">حداقل</label>
              <input type="number" class="form-control" id="min-freight" name="min-freight" placeholder="مثال: 1000000 تومان">
              <label for="max-freight" class="form-label">حداکثر</label>
              <input type="number" class="form-control" id="max-freight" name="max-freight" placeholder="مثال: 5000000 تومان">
            </div>
          </div>
        </li>
        <button class="btn btn-outline-main my-2" type="submit">جست و جو</button>
      </ul>
    </form>
  </div>

  <div class="content">
    <h4 class="text-info">نتایج جست و جو</h4>
    <div class="row d-flex justify-content-center mt-4">
      
      {% for ad in ads %}
      <div class="col-md-5 p-3 m-3 shadow-sm border" data-toggle="modal" data-target="#{{ad.0.id}}" role="button">
        <div class="card-body p-2">
          <h4 class="card-title text-center mb-4">{{ad.0.title}}</h4>
          <p class="mb-3"><span class="text-info">توضیحات: </span>{{ad.0.description}}</p>
          <p class="mb-3"><span class="text-info">کرایه حمل: </span>{{ ad.0.freight|floatformat:"2g" }} تومان</p>
          <div class="row">
            <img class="img-thumbnail" src="{% static 'yol/images/transport.png' %}" alt="" srcset="">
            <div class="col-6 text-end text-primary"><h4>{{ad.1.origin_city}}</h4></div>
            <div class="col-6 text-start text-danger"><h4>{{ad.1.dest_city}}</h4></div>
          </div>
          <p class="text-center">{{ad.0.date}}</p>
        </div>
      </div>
      
      {% endfor %}
    </div>

    {% if ads.has_other_pages %}
    <nav aria-label="Page navigation example" class=" d-flex justify-content-center m-4" style="direction:ltr;">
      <ul class="pagination">
        {% if ads.has_next %}
        <li><a href="?page={{ ads.next_page_number }}{% for key, value in filter_params.items %}&{{ key }}={{ value }}{% endfor %}">&lArr;</a></li>
        {% else %}
        <li class="disabled"><span>&#8653;</span></li>
        {% endif %}

        {% for i in ads.paginator.page_range reversed %}
          {% if ads.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
          <li><a href="?page={{ i }}{% for key, value in filter_params.items %}&{{ key }}={{ value }}{% endfor %}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        {% if ads.has_previous %}
          <li class="page-item"><a href="?page=1{% for key, value in filter_params.items %}&{{ key }}={{ value }}{% endfor %}">صفحه اول</a></li>
          <li class="page-item"><a href="?page={{ ads.previous_page_number }}{% for key, value in filter_params.items %}&{{ key }}={{ value }}{% endfor %}">&rArr;</a></li>
        {% else %}
          <li class="disabled"><span>&#8655;</span></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
    
    
    {% for ad in ads %}
    
    <!-- Modal -->
    <div class="modal fade" id="{{ad.0.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{ad.0.title}}</h5>
          </div>
          <div class="modal-body">
            <div class="card-body p-4">
              <p class="mb-3"><span class="text-info">آدرس مبدا: </span>{{ad.1.origin}}</p>
              <p class="mb-3"><span class="text-info">آدرس مقصد: </span>{{ad.1.destination}}</p>
              <p class="mb-3"><span class="text-info">توضیحات: </span>{{ad.0.description}}</p>
              <p class="mb-3"><span class="text-info">فاصله مبدا تا مقصد: </span>{{ad.1.distance}}</p>
              <p class="mb-3"><span class="text-info">   زمان تخمین زده شده: </span>{{ad.1.estimated_time}}</p>
              <p class="mb-3"><span class="text-info"> نوع بار: </span>{{ad.2.type}}</p>
              <p class="mb-3"><span class="text-info"> وزن بار: </span>{{ad.2.weight}} کیلوگرم</p>
              <p class="mb-3"><span class="text-info"> ارزش تقریبی بار: </span>{{ ad.2.value|floatformat:"2g"}}تومان</p>
              <p class="mb-3"><span class="text-info"> اندازه بار: </span>{{ad.2.dimension}}</p>
              <p class="mb-3"><span class="text-info"> دستورالعمل خاص: </span>{{ad.2.special_instructions}}</p>
              <p class="mb-3"><span class="text-info">صاحب بار: </span>{{ad.0.shipper}}</p>
              <p class="mb-3"><span class="text-info">صاحب شماره تماس صاحب بار: </span>{{ad.0.shipper.phone}}</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
            {% if isDriver %}
              <a type="button" class="btn btn-info" href="{% url 'main:registerWaybill' ad.0.id %}">پذیرفتن بار</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  
  
  </div>
</div>
    {% endfor %}
    
    
</body>
</html>


   



