<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'yol/images/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'yol/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'yol/style/css/style.css' %}">
    <script src="{% static 'yol/bootstrap/js/bootstrap.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% include "yol/partials/sidebar.html"  %}
    
    <main>
        <div class="container pt-4">
            {% block content%}
            {% endblock%}
        </div>
    </main>



    {% include "yol/partials/footer.html"  %}
</body>
</html>