@font-face {
  font-family: vazir;
  src: url('../../fonts/Vazir.ttf');
}

@font-face {
  font-family: anjoman-heavy;
  src: url('../../fonts/Anjoman-Heavy.ttf');
}

@font-face {
  font-family: anjoman-light;
  src: url('../../fonts/Anjoman-Regular.ttf');
}


:root{
  --main: #495979;
}

body{
font-family: anjoman-light,sans-serif; 
direction: rtl;
}

h1, h2, h3, h4, h5, h6{
  font-family: anjoman-heavy,sans-serif !important; 
  line-height: 1.6;
}

.bg-main{
  background-color: var(--main) !important;
}

@media (min-width: 991.98px) {
  main {
    padding-right: 240px;
  }
}

#top-menu{
  padding-right: 240px;
}

.list-group-item{
  background-color: inherit;
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

#sidebar-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.sidebar.collapse:not(.show) {
  display: none;
}

.menu {
  --s: 20px; /* control the size */
  --c: black; /* the color */
  
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s)/2) solid #0000; 
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
         no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
         repeat-y content-box border-box;
  background: 
    var(--_g2) left  var(--_p,0px) top,
    var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
    var(--_g2) right var(--_p,0px) top,
    var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
  background-size: 
    20% 80%,
    40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
  cursor: pointer;
  transition: 
    background-position .3s var(--_s,.3s), 
    clip-path 0s var(--_s,.6s);
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
.menu:before,
.menu:after {
  content:"";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform .3s calc(.3s - var(--_s,.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1*var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}


.btn-outline-main {
  color: var(--main);
  background-color: transparent;
  background-image: none;
  border-color: var(--main);
}

.btn-outline-main:hover {
  color: #fff !important;
  background-color: var(--main);
  border-color: var(--main);
}

.btn-main {
  color: #fff;
  background-color: var(--main);
  border-color: var(--main);
}

.btn-main:hover {
  color: #fff;
  background-color: #3d4b68;
  border-color: #3d4b68;
}